* {
  margin: 0% padding 0%;
}

h1 {
  color: gold;
  font-size: 50px;
  text-align: center;
}

/* INDEX */

.inicio {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: underline;
  font-size: 25px;
}

.fundador {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: underline;
}

.fotoprincipal {
  width: 400px;
  height: 300px;
}
/* TITULO PRINCIPAL DE LA PAGINA */
.TITULOPRINCIPAL {
  font-family: "Times New Roman", Times, serif;
  color: burlywood;
  background-color: wheat;
}

/* Foto fundador */
.fotoprincipal {
  padding: 10px;
}

/* titulo de fundador */
.fundador {
  padding: 10px;
}

/* nuestro inicio */
.inicio {
  padding: 10px;
}
.texto-inicio {
  padding: 10px;
}

/* modificando el fundador1 */
.fundador1 {
  padding: 10px;
}
/*------------------ termina INDEX ---------------------- */

/* ----------- CONTENIDO DE FOOTER ----------------- */
footer {
  background-color: rgb(202, 200, 198);
}

/* LOGO FOOTER */
.foto-ig {
  width: 15px;
}

.foto-oulook {
  width: 15px;
}
/*--------- TERMINA CONTENIDO DE FOOTER ----------- */

/* ------------ COMIENZO DE HISTORIA ------------ */
.Elcomienzo1 {
  color: gold;
  font-size: 50px;
  text-align: left;
  text-decoration: underline;
}

.Texto1 {
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.crecimiento1 {
  color: gold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  text-decoration: underline;
}

.texto2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.dosdecadas {
  color: gold;
  font-size: 50px;
  text-align: left;
  text-decoration: underline;
}

.texto3 {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

/* -------------------- TERMINA HISTORIA ------------------- */

/* --------------------- ARRANCA MENU --------------------- */
.menuprincipal {
  color: gold;
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
}

.comida1 {
  width: 300px;
  height: 200px;
  padding: 10px;
}

.comida2 {
  width: 300px;
  height: 200px;
  padding: 10px;
}

.list {
  display: grid;
}

/* ------lista de menu ------ */

.list {
  grid: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  align-items: center;
}

.sumate {
  color: gold;
  font-size: 50px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.completainfo {
  color: black;
  font-size: 20px;
}

.comedor {
  width: 400px;
  height: 300px;
}

.Whatsapp {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
}

.Instagram {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
}

.Email {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
}

.Reservas {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
}

/* MODELADO DE PAGINA COMPLETA */
.Pagina-Completa {
  display: grid;
  grid-template-areas:
    "espacio1"
    "espacio2"
    "espacio3";
}

header {
  grid-area: espacio1;
}
main {
  grid-area: espacio2;
}
footer {
  grid-area: espacio3;
}
